<p>address works!</p>
<hello name="{{ name }}"></hello>

  <form class="container-fluid" [formGroup]="addressForm">
	<div class="row">

		<div class="col-xs-12 form-group">
			<label for="country">Country:</label>
			<select class="form-control" id="country" formControlName="country">
				<option value="" disabled selected>Please select</option>
				<option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
			</select>
		</div>

		<div class="col-xs-12 col-md-6 form-group">
			<label for="addressLine1">Address Line 1:</label>
			<input type="text" class="form-control" id="addressLine1" formControlName="addressLine1">
		</div>

		<div class="col-xs-12 col-md-6 form-group" *ngIf="addressForm.contains('addressLine2')">
			<label for="addressLine2">Address Line 2:</label>
			<input type="text" class="form-control" id="addressLine2" formControlName="addressLine2">
		</div>

		<div class="col-xs-12 col-md-6 form-group">
			<label for="city">City:</label>
			<input type="text" class="form-control" id="city" formControlName="city">
		</div>

		<div class="col-xs-12 col-md-6 form-group">
			<label for="state">State:</label>
			<select class="form-control" id="state" formControlName="state">
				<option value="" disabled selected>Please select</option>
				<option *ngFor="let state of states" [value]="state.id">{{state.name}}</option>
			</select>
		</div>

		<div class="col-xs-12 col-md-6 form-group">
			<label for="postalCode">Postal Code:</label>
			<input type="text" class="form-control" id="postalCode" formControlName="postalCode">
		</div>

	</div>
</form>